<!DOCTYPE html>
<html>
<head>
  <title>Credit Calculator</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap -->
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/main.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/semantic.min.js"></script>
  <style>
    body {
      padding: 1em;
    }
  </style>
</head>
<body>

<div class="ui raised very padded text container segment">
  <div class="row">
    <%= yield %>
  </div>
</div>


</body>
</html>
